<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>WeView2 by charlesmchen</title>

    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>WeView2</h1>
        <p>An alternative to iOS Auto Layout</p>

        <p class="view"><a href="https://github.com/charlesmchen/WeView2">View the Project on GitHub</a></p>


        <ul class=linky>
          <li><a href="https://github.com/charlesmchen/WeView2/zipball/master">Download <strong>ZIP File</strong></a></li>
          <li><a href="https://github.com/charlesmchen/WeView2/tarball/master">Download <strong>TAR Ball</strong></a></li>
          <li><a href="https://github.com/charlesmchen/WeView2">View On <strong>GitHub</strong></a></li>
        </ul>

		<!-- SOCIAL -->

		<div class="social">
		<div>
			
			<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://charlesmchen.github.io/WeView2/" data-text="WeView 2, an open source alternative to iOS Auto Layout." data-via="cmchen" data-size="large" data-hashtags="WeView2">Tweet</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
			
		</div>

		</div>

		<div class="social">

		<div>
			
			<iframe src="http://ghbtns.com/github-btn.html?user=charlesmchen&repo=WeView2&type=watch&count=true&size=large"
			allowtransparency="true" frameborder="0" scrolling="0" width="150" height="30"></iframe>
			</div>

		</div>

		<!-- SOCIAL -->
		
		<ul class="linkage">
<!-- SIDEBAR START -->

			<li><a href="index.html">Home</a></li>


			<li>&nbsp;&nbsp;&nbsp;<a href="whyAutolayout.html">Why use Auto Layout?</a></li>


			<li>&nbsp;&nbsp;&nbsp;<a href="whyWeView2.html">Why use WeView 2?</a></li>


			<li>&nbsp;&nbsp;&nbsp;<a href="Tutorial1.html">Tutorial 1: Simple Demo</a></li>


			<li>&nbsp;&nbsp;&nbsp;<a href="Tutorial2.html">Tutorial 2: iPhone Demo</a></li>


			<li>&nbsp;&nbsp;&nbsp;<a href="TutorialInstalling.html">Tutorial 3: Installing</a></li>


			<li>&nbsp;&nbsp;&nbsp;<a href="TutorialConcepts.html">Tutorial 4: Concepts</a></li>


			<li>&nbsp;&nbsp;&nbsp;<a href="TutorialLayouts.html">Tutorial 5: The Layouts</a></li>


			<li>&nbsp;&nbsp;&nbsp;<a href="TutorialLayoutModel.html">Tutorial 6: Layout Model</a></li>


			<li>&nbsp;&nbsp;&nbsp;<a href="TutorialDesiredSize.html">Tutorial 7: Desired Size</a></li>


			<li>&nbsp;&nbsp;&nbsp;<a href="TutorialStretch.html">Tutorial 8: Stretch</a></li>


			<li>&nbsp;&nbsp;&nbsp;<a href="TutorialConvenience.html">Tutorial 9: Conveniences</a></li>


			<li>&nbsp;&nbsp;&nbsp;<a href="FAQ.html">FAQ</a></li>


			<li>&nbsp;&nbsp;&nbsp;<a href="Issues.html">Bugs & Feature Requests</a></li>


			<li>&nbsp;&nbsp;&nbsp;<a href="ExtrasDesiredSize.html">Extras 1: Desired Size</a></li>


			<li>&nbsp;&nbsp;&nbsp;<a href="designPhilosophy.html">Design Philosophy</a></li>


			<li>&nbsp;&nbsp;&nbsp;<a href="whatsNewWeView2.html">What's New in WeView 2</a></li>


			<li>&nbsp;&nbsp;&nbsp;<a href="License.html">License</a></li>


			<li>&nbsp;&nbsp;&nbsp;<a href="CHANGELOG.html">Change Log</a></li>


			<li>&nbsp;&nbsp;&nbsp;<a href="Acknowledgments.html">Acknowledgments</a></li>

<!-- SIDEBAR END -->
		</ul>
			
      </header>
      <section>
